body {
    font-family: Arial, sans-serif;
    background-color: #3d1010;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0073aa;
    color: rgb(219, 20, 20);
    padding: 20px;
}

h1 {
    margin: 0;
}

.scanner {
    background: white;
    padding: 40px;
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073aa;
}

p {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="url"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0073aa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005a87;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #d9534f;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    background: #0073aa;
    color: white;
    padding: 10px;
    text-align: center;
}
